.job {
  display: flex;
  align-items: center;
}

div.items {
  display: flex;
}
.completed span {
  opacity: 0.5;
  text-decoration: line-through;
}
.button span {
  opacity: 1;
  text-decoration: none;
}
